.main_logo {
  width: 80px;
}

body nav {
  background-color: #fe5845ba;
}

body {
  background-color: #fe5845ff;
}

.page-header1,
.page-footer {
  margin-top: 150px;
  color: white;
  height: 200px;
  margin-bottom: 300px;
}
.subjects h1,
header div h1,
span {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

.subjects-img {
  width: 350px;
  align-self: center;
  position: relative;
  left: 100px;
}

.page-footer {
  text-align: center;
  padding-top: 100px;
}

p,
li {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

.active {
  font-weight: 900;
}

header {
  margin-top: 200px;
}

header div h1 {
  color: white;
  margin-top: 200px;
  font-size: 100px;
  text-align: center;
}

header div p {
  text-align: center;
}

#submit-btn {
  background-color: #202020;
  border: #202020 solid 1px;
  width: 10%;
  height: 80px;
}

.space-above {
  padding-top: 50px;
}

.reduce-width {
  width: 80%;
}

span {
  font-size: 20px;
}

.reduce-to-max {
  width: 100%;
}

#girls-img {
  width: 80%;
  border-radius: 1em;
}

#fi {
  width: 20%;
  padding-left: 50px;
}

#lkd {
  width: 10%;
  padding-left: 50px;
}
