.main_logo {
  width: 80px;
}

body nav {
  background-color: #fe5845ba;
}

body {
  background-color: #fe5845ff;
}

.page-header1,
.page-footer {
  margin-top: 150px;
  color: white;
  height: 200px;
  margin-bottom: 600px;
}
.subjects {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

.subjects-img {
  width: 400px;
  align-self: center;
  position: relative;
  left: 100px;
}

.page-footer {
  text-align: center;
}
